*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    position: fixed;
    top: 0%;
    width: 100%;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, rgb(92,92,119) 50%,rgb(8, 211, 197)50%);
    /* background-color: rgb(92, 92, 119); */
    /* background-color: rgb(26, 26, 55); */
    height: 14vh;
    padding: 0 5rem;
    width: 100%;
}


.nav-links ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
}
.nav-links li{
    list-style: none;
    color: white;
    margin-right: 1.5rem;
    text-shadow: 0px 0px 6px whitesmoke;
    font-weight: bold;
}
.nav-links a{
    text-decoration: none;
}


.home-header{
    height: 60vh;
    background-color:rgb(92,92,119) ;
    display: flex;
    justify-content: center;
    align-items: center ;
    text-align: center;
}
.text{
    width: 40%;
}
.text h1{
    /* margin: 20rem 20rem; */
    font-size: 2.5rem;
    color: white;
}
.about-section h1{
    /* margin-top: 3.5rem; */
color:rgb(26, 26, 55) ;
font-size: 2.6rem;
margin-bottom: 2rem;
}
.about-section {
    margin:4rem 13rem;
}
.about-section p{
    color: rgb(78, 74, 74);
    line-height: 1.8rem;
font-size: 1.2rem;
}
.script{
    height: 40vh;
    background-color: rgb(8, 211, 197);
color: white;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.script h1{
    font-size: 2rem; 
}
.script p{
    font-size: 1.2rem;
}

.testing-services{
    margin:9rem 13rem;
}
.services h1,.testing-services h1{
    color:rgb(26, 26, 55) ;
    font-size: 2.6rem;
    margin-bottom: 2rem;
}
.testing-services li{
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: rgb(78, 74, 74);
    margin-left: 1.2rem;
}
.testing-services li::marker{
    color: rgb(8, 211, 197);
    font-size: 2rem;
}
.services{
    margin:6rem 13rem;
}
.services p{
    color: rgb(78, 74, 74);
    line-height: 1.8rem;
font-size: 1.2rem;
margin-bottom: .5rem;
}


.applications{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 7rem;
}


.types h1{
    color:rgb(26, 26, 55) ;
    font-size: 2.6rem;
    margin-bottom: 2rem;
}
.types li{
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: rgb(78, 74, 74);
    margin-left: 1.2rem;
}
.types li::marker{
    color:rgb(8, 211, 197) ;
    font-size: 2rem;
    
}
.domains{
    margin:6rem 13rem;
}
.domains h1{
    text-align: center;
    color:rgb(26, 26, 55) ;
    font-size: 2.6rem;
    margin-bottom: 2rem;
}

.domain-inner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.list1 li,.list2 li{
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: rgb(78, 74, 74);
    margin-left: 1rem;
}
.list1 li::marker,.list2 li::marker{
    color:rgb(8, 211, 197) ;
    font-size: 2rem;
}
footer{
    margin-top: 8rem;
    height: 52vh;
    background-color: rgb(26, 26, 55);
}
.footer-inner{
   padding: 6rem 6rem 0rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-footer p{
    color: white;
    line-height: 1.5rem;
    text-align: center;
}